In [1]:
import pandas as pd
import uuid
import random
# !pip install faker
from faker import Faker

In [2]:
df = pd.read_csv('data.csv')

In [3]:
needed = ['name','type','price']
df = df[needed]

In [4]:
fake = Faker()

In [5]:
df

                                    name       type     price
0               Empanaditas Antioqueñas    entradas  $ 14.000
1                            Chicharrón    entradas  $ 22.600
2                        Entrada Típica    entradas  $ 29.900
3             Plancha de Queso Papialpa    entradas  $ 24.200
4                         Crema de Maíz    entradas  $ 14.500
..                                   ...        ...       ...
58      Calentado con Huevos con Aliños   desayunos  $ 16.500
59                     Bistec a Caballo   desayunos  $ 29.900
60                    Chorizo con Arepa   desayunos  $ 12.500
61          Huevos Especiales con Arepa   desayunos  $ 19.900
62  Huevos al gusto con Arepa con queso   desayunos  $ 15.000

[63 rows x 3 columns]

In [6]:
user_ids = [ str (uuid.uuid4()) for i in range(1008)]

In [7]:
sexs = [random.choice(['F','M']) for i in range(1008)]
pay_mode = [  random.choice(['CREDIT','PSE']) for i in range(1008)]
rating = [ round ( random.uniform(3,5),1 ) for i in range(63) ]

In [8]:
df['rating'] = rating

In [9]:
sample = df
for i in range(15):
    sample = sample.append(df)

In [10]:
sample = sample.reset_index(drop=True)

In [11]:
sample

                                      name       type     price  rating
0                 Empanaditas Antioqueñas    entradas  $ 14.000     4.7
1                              Chicharrón    entradas  $ 22.600     4.9
2                          Entrada Típica    entradas  $ 29.900     4.3
3               Plancha de Queso Papialpa    entradas  $ 24.200     3.5
4                           Crema de Maíz    entradas  $ 14.500     3.8
...                                    ...        ...       ...     ...
1003      Calentado con Huevos con Aliños   desayunos  $ 16.500     3.5
1004                     Bistec a Caballo   desayunos  $ 29.900     3.8
1005                    Chorizo con Arepa   desayunos  $ 12.500     3.0
1006          Huevos Especiales con Arepa   desayunos  $ 19.900     4.6
1007  Huevos al gusto con Arepa con queso   desayunos  $ 15.000     4.2

[1008 rows x 4 columns]

In [12]:
def date_generator():
    return fake.date_time_between(start_date='-1y', end_date='now')
dates = [date_generator() for i in range(1008)]

In [13]:
o = {
    'userid':user_ids,
    'sex':sexs,
    'date': dates,
    'pay_mode': pay_mode
}
orders = pd.DataFrame(o)

In [16]:
new_orders = pd.concat([orders,sample],axis=1)

In [17]:
new_orders

,userid,sex,date,pay_mode,name,type,price,rating
0,239c63e1-d149-440e-96a5-b53cf3ef19d7,M,2021-04-02 05:40:23,CREDIT,Empanaditas Antioqueñas,entradas,$ 14.000,4.7
1,e734308c-37a2-4a23-9e92-3c78dd596996,M,2021-03-05 16:52:28,CREDIT,Chicharrón,entradas,$ 22.600,4.9
2,c190a0e3-9d42-4ef4-a074-3969a9cfee52,F,2021-08-27 00:50:34,PSE,Entrada Típica,entradas,$ 29.900,4.3
3,8b04bf02-b020-42d4-b5ee-5764990364dc,F,2021-09-23 23:02:17,CREDIT,Plancha de Queso Papialpa,entradas,$ 24.200,3.5
4,6f080f4b-17b1-4bba-aac4-0170a12fdb07,M,2021-09-22 01:08:31,CREDIT,Crema de Maíz,entradas,$ 14.500,3.8
...,...,...,...,...,...,...,...,...
1003,2a946a74-bb11-49cd-b572-8faf709ee30f,M,2021-08-11 01:31:23,CREDIT,Calentado con Huevos con Aliños,desayunos,$ 16.500,3.5
1004,d8984a75-aded-406d-9fda-2b0f80edcab5,M,2021-08-06 22:55:27,PSE,Bistec a Caballo,desayunos,$ 29.900,3.8
1005,6628ea22-56ea-4eef-a8dc-9b2b685884e2,M,2021-10-04 15:13:54,CREDIT,Chorizo con Arepa,desayunos,$ 12.500,3.0
1006,c30c35a5-c6d7-4d10-be55-8b3d887f9503,M,2021-03-19 20:24:18,CREDIT,Huevos Especiales con Arepa,desayunos,$ 19.900,4.6
1007,ba396d31-f5aa-4bc1-b7e4-a6cb54344ca0,F,2021-04-11 22:36:34,CREDIT,Huevos al gusto con Arepa con queso,desayunos,$ 15.000,4.2

In [18]:
new_orders.to_csv('order.csv')